.showImg {
	position: relative;
	 display: block;
  
  width: 80%;

  height: auto;

  margin: auto;
bottom: 1px;

   -webkit-box-shadow   : 0 0 8px 4px rgba(0, 0, 0, .5);
   box-shadow           : 0 0 8px 4px rgba(0, 0, 0, .5);

  -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;

  border: solid 5px white;
}