.portaretrato {
    width: 100%;
    text-align: center;

}

.galeria {
    position: relative;
    display: block;
    width: 80%;
    margin: auto;
    border: solid 5px white;
}

.imagen {
    width: 100%;
    max-width: 1280px;
}

.anterior {
    left: 0;
    text-align: left;
    text-shadow: 2px 2px black;
}

.siguiente {
    right: 0;
    text-align: right;
    text-shadow: -              2px 2px black;
}

.siguiente, .anterior {
    position: absolute;
    margin-top: auto; margin-bottom: auto;
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    height: 100%;
    width: 10%;
}

.siguiente:hover {
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}

.anterior:hover {
    background: -moz-linear-gradient(left, rgba(0,0,0,0.65) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-linear-gradient(left, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to right, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 );
}

.cargando {
    position: absolute;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    height: 50%;
}